body h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 3em;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

header {
  box-shadow: 0 0 10px rgba(46, 0, 0, 0.589);
  background: rgb(160, 63, 63);
  color: white;
}

.header-logo {
  padding: 0 40px;
}

.nav-bar {
  flex-basis: 80%;
  display: flex;
  justify-content: space-evenly;
}

.recipe {
  justify-content: center;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.title i {
  font-size: 3rem;
  padding: 0 20px;
  position: absolute;
  right: 0;
}

.source {
  margin-bottom: 50px;
}

.source h2 {
  margin-bottom: 10px;
}

.source h3 {
  color: rgb(131, 12, 12);
}

.image-ingredients {
  display: flex;
  flex-wrap: wrap;
}

.recipe-image {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  margin-bottom: 100px;
}

.recipe-ingredients-container {
  flex-basis: 50%;
  margin-bottom: 100px;
}

.recipe-ingredients-container h2 {
  margin-bottom: 25px;
}

.recipe-ingredients {
  padding: 0 100px;
}

.recipe-ingredients table {
  border-collapse: collapse;
}

.recipe-ingredients td {
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid rgb(163, 163, 163);
}

.ingredient {
  width: 50%;
  text-align: left;
}

.ingredient-amount {
  text-align: right;
}

.recipe-instructions {
  margin-bottom: 100px;
}

.recipe-instructions h2 {
  margin-bottom: 20px;
}

.recipe-instructions p {
  line-height: 3rem;
}

@media screen and (max-width: 1290px) {
  .recipe-image {
    flex-basis: 100%;
  }

  .recipe-ingredients-container {
    flex-basis: 100%;
  }

  .recipe-instructions {
    padding: 0  50px;
  }
}

@media screen and (max-width: 1058px) {
  .nav-bar {
    display: none;
  }
}
